.collections {
  @extend %cover;
  background: $color-quicksand;
  color: $color-quarter-spanish-white;
}
.collections__wrapper {
  @extend %cover;
  overflow: hidden;
}
.collections__titles {
  @extend %vertical-titles;
}
.collection__tiles__label {
  @extend %vertical-titles__label;
}
.collection__titles_title {
  @extend %vertical-titles_title;
}

.collections__gallery {
  @extend %cover;
}
.collections__gallery__wrapper {
  display: flex;
  align-items: center;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.collections__gallery__link {
  display: block;
  margin: 0 5.3rem;
}
.collections__gallery_media {
  width: 44.7rem;
  height: 63.1rem;
  position: relative;
}
.collections__gallery__media__image {
  @extend %cover;
  object-fit: cover;
}

.collections__content {
  @extend %cover;
}
.collection__article {
  position: absolute;
  left: 8rem;
  bottom: 8.7rem;
  opacity: 0;
  &--active {
    opacity: 1;
  }
}
.collections__article__title {
  @extend %title-60;
}
.collections__article__description {
  @extend %description-16;
  max-width: 44rem;
}
